* {
  padding: 0;
  margin: 0;
}

main {
  padding: 2rem;
  font-family: "Lato", sans-serif;
  background-color: #eeeeee;
}
.cardWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.cardItem {
  box-shadow: 0.2rem 0.2rem 0.2rem #888;
  background-color: white;
  border-radius: 0.5rem;
}

.cardInnerWrapper {
  padding: 1rem;
  position: relative;
  height: 20.5rem;
}

.contacts {
  position: absolute;
  bottom: 0;
}

.ava {
  width: 12rem;

  display: block;
  margin: 1.5rem auto 0 auto;
  border-radius: 50%;
  box-shadow: 0.2rem 0.2rem 0.2rem #888;
}

h1 {
  text-align: center;
  color: #393e46;
  font-size: 3.5rem;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 1rem;
}

p {
  color: #737388;
  text-align: center;
  padding-bottom: 2rem;
  font-size: 1.3rem;
  font-family: "Open Sans", sans-serif;
}

.headerInfo {
  display: flex;
}

.flag {
  padding: 1rem;

  display: inline;
}
.name {
  color: #393e46;

  padding: 1rem 0;

  font-size: 1.5rem;
}

.description {
  color: #737388;
  line-height: 1.5;
}

ul {
  list-style: none;
}

ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: #737388;
  margin-bottom: 0.5rem;
}

a {
  color: #737388;
  transition: transform 0.2s linear;
  display: inline-flex;
  align-items: center;
  margin: 0.3rem;

  font-size: 1.3rem;
}

a:hover {
  color: #393e46;
  transform: scale(1.2);
}

li {
  display: inline-block;
  margin-right: 0.5rem;
}

.email-display {
  display: none;
}
@media (max-width: 1024px) {
  .ava {
    width: 11rem;
  }
  .cardInnerWrapper {
    height: 22.5rem;
  }
}
@media (max-width: 642px) {
  .cardInnerWrapper {
    height: 18.5rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.1rem;
  }
  .ava {
    width: 14rem;
  }
}
