* {
  padding: 0;
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Slackey&display=swap");

#blurry-filter {
  width: 100%;
  height: 9rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cfilter id='f'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='1'/%3E%3C/filter%3E%3Crect width='100' height='100' style='filter:url(%23f)' opacity='.2'/%3E%3C/svg%3E");
  mask: linear-gradient(black 7rem, transparent);
  -webkit-mask: linear-gradient(black 7rem, transparent);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100000;
  pointer-events: none;
  touch-action: none;
}

header {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  cursor: default;
}

header {
  width: 100%;
  height: 8rem;
  position: sticky;
  top: 0;
  z-index: 100000;
}
header > div {
  width: calc(100% - 3rem);
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

#title {
  width: 100%;
}
#title .parent {
  line-height: 1em;
  color: #00adb5;
}
#title .name {
  font-family: "Roboto", sans-serif;
  font-family: "Slackey", cursive;
  font-size: 2em;
  font-weight: bold;
  color: #00adb5;
  mix-blend-mode: difference;
}

#reference {
  display: flex;
}
#reference > a {
  color: #444;
  text-decoration: none;
}
#reference > a + a {
  margin-left: 1rem;
}

main {
  padding: 2rem;
  font-family: "Lato", sans-serif;
  background-color: #eeeeee;
}
.cardWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.cardItem {
  box-shadow: 0.2rem 0.2rem 0.2rem #888;
  background-color: white;
  border-radius: 0.5rem;
}

.cardInnerWrapper {
  padding: 1rem;
  position: relative;
  height: 20.5rem;
}

.contacts {
  position: absolute;
  bottom: 0;
}

.ava {
  width: 12rem;

  display: block;
  margin: 1.5rem auto 0 auto;
  border-radius: 50%;
  box-shadow: 0.2rem 0.2rem 0.2rem #888;
}

h1 {
  text-align: center;
  color: #393e46;
  font-size: 3.5rem;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 1rem;
}

p {
  color: #737388;
  text-align: center;
  padding-bottom: 2rem;
  font-size: 1.3rem;
  font-family: "Open Sans", sans-serif;
}

.headerInfo {
  display: flex;
}

.flag {
  padding: 1rem;

  display: inline;
}
.name {
  color: #393e46;

  padding: 1rem 0;

  font-size: 1.5rem;
}

.description {
  color: #737388;
  line-height: 1.5;
}

ul {
  list-style: none;
}

ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: #737388;
  margin-bottom: 0.5rem;
}

a {
  color: #737388;
  transition: transform 0.2s linear;
  display: inline-flex;
  align-items: center;
  margin: 0.3rem;

  font-size: 1.3rem;
}

a:hover {
  color: #393e46;
  transform: scale(1.2);
}

li {
  display: inline-block;
  margin-right: 0.5rem;
}

.email-display {
  display: none;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

.footer-distributed {
  background: #393e46;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  font-family: "Roboto", sans-serif;
  font-family: "Slackey", cursive;
  color: #00adb5;
  /* font: 'Slackey' 36px "Open Sans", cursive;
   */
  font-size: 36px;
  margin: 0;
}

.footer-distributed h3 span {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #92999f;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* this CSS is for the Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}
@media (max-width: 1024px) {
  .ava {
    width: 11rem;
  }
  .cardInnerWrapper {
    height: 22.5rem;
  }
}
@media (max-width: 642px) {
  .cardInnerWrapper {
    height: 18.5rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.1rem;
  }
  .ava {
    width: 14rem;
  }
}
@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

/* media query for the details tag in smaller screen size. */

@media (max-width: 670px) {
  .detail-section {
    flex-direction: column;
  }
}
