html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  margin: 0;
  padding: 0;
}

.mainWrapper {
  background-image: url(blackout-piranha.jpg);
  font-family: "Open Sans", sans-serif;
  padding: 2rem 10rem;

  background-size: contain;
}

h1 {
  text-align: center;
  font-family: "Reggae One", cursive;
  color: #d3953c;
  font-size: 3.5rem;
  padding-bottom: 1rem;
}

.inputWrapper {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.inputPoint {
  border-radius: 0.2rem;
  padding: 0.3rem;
  padding-top: 0.5rem;
  font-size: 0.9rem;
  width: 8rem;
  text-align: left;
  display: block;
  margin: 0.7rem auto;
}

.inputPoint input {
  width: 6.5rem;
  height: 2rem;

  border-width: 0.3rem;

  border-color: #74b1d7;

  border-radius: 0.5rem;
}

.inputPoint input::placeholder {
  color: #466c83;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

.inputPoint input:focus {
  outline: none;
  border-color: #d3953c;
  border-width: 0.3rem;
  color: #d3953c;
}

.inputPointFlex {
  display: flex;
}

.inputPointFlex1 {
  flex: 3;
}

.inputPointFlex2 {
  flex: 1;
  color: #ffffffff;
  padding-left: 0.5rem;
  transition: all 0.1s ease-in-out;
}

.inputPointFlex2:hover {
  cursor: pointer;
  color: #d3953c;
}

.buttonMad {
  display: block;
  margin: 3rem auto 0 auto;
  padding: 0.9rem 1.9rem;
  text-transform: uppercase;
  border-radius: 0.3rem;
  background-color: #466c83;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 750;
  transition: all 0.2s ease-in-out;
  border-style: none;
}

.buttonMad:hover {
  color: #000;
  cursor: pointer;
}

.buttonRandom {
  display: block;
  margin: 0 auto;
  padding: 0.5rem 3rem;
  border-radius: 0.3rem;
  font-weight: 800;
  text-transform: uppercase;
  color: black;
  background-color: #74b1d7;
  border-color: #74b1d7;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  transition: all 0.2s ease-in-out;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}
.buttonRandom:hover {
  color: black;
  background-color: #fff;
  cursor: pointer;
}

.instructions {
  text-align: center;
  font-size: 1.3rem;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  color: white;
}

@media (max-width: 642px) {
  .mainWrapper {
    padding: 2rem;
  }
}
